.ulContainer {
    & h5 {
        color: var(--mint);
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }

    & li:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    & a {
        color: var(--gray-90);
        font-weight: 300;
        font-size: 2rem;

        &:hover {
            color: var(--sky);
            transition: color .4s ease;
        }
    }
}
