@import "../../css utils/variables.module.css";


.base-btn {
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.1rem 2.5rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .6s ease;
}

.filled {
    composes: base-btn;
    color: var(--white);
    background-color: var(--brand-green);

    &:hover {
        background-color: var(--up-green);
    }
}

.outlined {
    composes: base-btn;
    background-color: var(--white);
    border: 2px solid var(--brand-green);
    color: var(--brand-green);
}

.white {
    composes: base-btn;
    background-color: var(--white);
    color: var(--forest);
}

.btnSpinner {
    display: inline-block;
    width: 3rem;
    aspect-ratio: 1;
    border: 2px solid var(--white);
    border-radius: 50%;
    border-top-color: rgba(220, 220, 220, 0.56);
    animation: spin 700ms linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.btnDisabled {
    background-color: var(--gray-15);

    &:hover {
        background-color: var(--gray-15);
        cursor: default;
    }
}