:root {
    --black: #000;
    --gray-01: #5e6d55;
    --gray-02: #9aaa97;
    --gray-03: #beccbe;
    --gray-04: #d5e0d5;
    --gray-05: #e4ebe4;
    --gray-06: #f2f7f2;
    --gray-07: #f7faf7;
    --gray-08: #D2E3C8;
    --gray-10: #1c2d1c;
    --gray-15: #1f321f;
    --gray-20: #2a3b2c;
    --gray-25: #2f3f2f;
    --gray-30: #3a4b3a;
    --gray-40: #52614f;
    --gray-45: #5e6d55;
    --gray-50: #87997d;
    --gray-55: #9aaa97;
    --gray-60: #beccbe;
    --gray-70: #d5e0d5;
    --gray-80: #e4ebe4;
    --gray-90: #f2f7f2;
    --gray-95: #f7faf7;
    --white: #fff;
    --up-green: #14a800;
    --up-green-dark: rgba(60, 130, 36, 0.58);
    --brand-green: #108a00;
    --brand-green-hc: #0b6100;
    --up-green-hc: #0c5c00;
    --up-lime: #95df00;
    --up-lime-hc: #749b2d;
    --up-black: #001e00;
    --up-black-dark: #021202;
    --blue: #1f57c3;
    --blue-hc: #1c4faf;
    --cyan-blue: #557fd1;
    --mint: #91e6b3;
    --mint-hc: #3a5648;
    --forest: #13544e;
    --sky: #01cdbe;
    --sky-hc: #015c56;
    --brown: #67541f;
    --brown-hc: #5d4c1c;
    --kiwi: #97922d;
    --kiwi-hc: #535019;
    --yellow: #debe1a;
    --yellow-hc: #63560c;
    --brick: #9b211b;
    --carmine-red: #e44d45;
    --clay: #bc5118;
    --clay-hc: #8d3c13;
    --orange-red: #ff4b25;
    --orange-red-hc: #992d16;
    --pink: #f66dbc;
    --pink-hc: #853b67;
    --lilac: rgba(189, 161, 231, 0.74);
    --lilac-hc: #5b4d6f;
    --heather: #a18085;
    --heather-hc: #644f52;
}

:root {
    --family-el-messiri: 'El Messiri', sans-serif;
    --family-spen-sans: 'Open Sans', sans-serif;
    --family-playfair-display: 'Playfair Display SC', serif;
}