@import "../../css utils/animation.module.css";

.authSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.imageContainer {
    position: relative;
    width: 55rem;

    & img {
        animation: fadein .7s ease-in;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 2rem;
        right: -10rem;
        height: 50rem;
        width: 2px;
        background-color: rgba(0, 100, 0, 0.53);
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55rem;
    width: 55rem;
    overflow-y: scroll;
    padding-top: 10rem;

    & h3 {
        color: var(--gray-30);
        font-size: 2rem;
        font-weight: 400;
        margin-block: 0 2rem;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--white);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--brand-green);
        border-radius: 10px;
    }
}

.formToggleBtn {
    background-color: transparent;
    font-size: 2rem;
    color: var(--forest);
    margin-block: 2rem;
    text-align: center;
    transition: color .3s ease;

    &:hover {
        color: var(--up-green);
    }
}

