.googleAuthContainer {
    display: flex;
    gap: 5rem;
    margin-block: 2rem;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #e5fb95;

    & button {
        background-color: transparent;

        & img {
            width: 6rem;
            aspect-ratio: 1;
            transition: all .5s ease;

            &:hover {
                scale: 1.2;
                filter: hue-rotate(40deg);
            }
        }

        &:nth-child(2) {
            scale: 1.1;
        }

        &:nth-child(3) {
            scale: 1.2;

        }
    }
}
