
.contactTitle {
    font-size: 6rem;
    font-weight: 600;
    font-family: var(--family-el-messiri);
    color: var(--up-black);
    text-align: center;
    margin-block: 5rem 0;
}

.addressContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100rem;
    margin: 3.5rem auto 6rem;
    flex: 1;
}

.addressBlock {
    composes: addressContainer;
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;

    & h5 {
        color: var(--up-black-dark);
        font-weight: 500;
        font-size: 2.7rem;
    }

    & p {
        font-size: 1.8rem;
        font-weight: 300;
        color: var(--gray-01);
        line-height: 1.8;

        & a {
            color: var(--up-green-hc);
            font-size: 2.1rem;
            font-weight: 500;
            transition: color .4s ease;

            &:hover {
                color: var(--up-green);
            }
        }
    }
}

.addressLogo {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(16, 138, 0, 0.23);
}

.mapSection {
    max-width: 120rem;
    margin-inline: auto;

    & iframe {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border: 2px solid rgba(0, 100, 0, 0.26);
        border-radius: 20px;
        width: 100%;
        height: 50rem;
    }
}