@import "../../css utils/animation.module.css";

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-height: 50rem;
    padding-inline: 5rem;
    margin: 3rem auto;
}

.contentBox {
    max-width: 70rem;

    & button {
        box-shadow: 0 2px 5px var(--gray-30);
        margin-top: 3rem;
        animation: fadein .8s ease 2s backwards;
        padding: 1.2rem 4.5rem;
    }
}

.heading {
    color: var(--up-green);
    font-family: var(--family-el-messiri);
    font-weight: 900;
    font-size: 6.5rem;
    line-height: 10rem;
    text-transform: capitalize;
}

.subHeading1 {
    display: block;
    animation: fade-slide-in-from-left 1.1s ease;
}

.subHeading2 {
    display: block;
    animation: fade-slide-in-from-right 1.1s ease .6s backwards;
}

.description {
    color: var(--gray-45);
    font-weight: 600;
    font-size: 2rem;
    line-height: 4rem;
    margin-top: 1.5rem;
    max-width: 50rem;
    animation: fadein 1s ease 1.2s backwards;

    & span {
        color: var(--brand-green);
    }
}


.bannerImg {
    max-width: 56rem;
    animation: fadein 1.2s ease-in-out .6s backwards;
}


.featureSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10rem;
    gap: 10rem;

    & h3 {
        color: var(--up-green-hc);
        font-family: var(--family-el-messiri);
        font-weight: 600;
        font-size: 6rem;
        line-height: 1.3;
        max-width: 50rem;
    }

    & p {
        color: var(--gray-40);
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.8;
        margin-block: 2.5rem;
        max-width: 50rem;
    }

    & ul {
        padding-left: 2rem;

        & > :not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }

    & li {
        color: var(--up-green-hc);
        font-size: 2.1rem;
        font-weight: 500;
        list-style-image: url("/assets/images/noun-check.svg.svg");
    }

    & img {
        max-width: 55rem;
    }

    & button {
        width: 50%;
        margin-block: 5rem;
    }
}

.howItWorksSection {
    background-color: var(--up-black);
    padding-block: 10rem 15rem;

    & h3 {
        color: var(--gray-90);
        font-family: var(--family-el-messiri);
        font-size: 6rem;
        font-weight: 600;
        text-align: center;
    }
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 6rem;
}

.detailCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align-last: center;
    max-width: 35rem;

    & div {
        background-color: var(--gray-80);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        aspect-ratio: 1;
        margin-inline: auto;
    }

    & h4 {
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--gray-80);
        margin-block: 2.5rem 2rem;
    }

    & p {
        color: var(--gray-50);
        line-height: 2.1;
    }
}